.typewriter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.type {
  text-transform: uppercase;
  color: #000;
  padding: 1rem;
  font-size: 4vw;
  letter-spacing: 10px;
}
.type-txt {
  border-bottom: 4px solid #0ebc88;
}
