.typewriter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.type {
  text-transform: uppercase;
  color: #000000;
  padding: 1rem;
  font-size: 2.5vw;
  letter-spacing: 10px;
  margin-top: -30px;
}
.type-txt {
  border-bottom: 4px solid #0ebc88;
  color: #000000;
}
@media screen and (max-width: 500px) {
  .type {
    margin-top: -20px;
  }
}

@media screen and (max-width: 470px) {
  .type {
    letter-spacing: 7px;
  }
}
