.img-main-over {
  overflow: hidden;
}
.img-main {
  position: relative;
  height: 100vh;
}
.img-main-1-container {
  overflow: hidden;
}
.img-main-1 {
  position: absolute;
  z-index: -1;
  width: 130vw;
  transform: translate(-25%, -60%);
}

.content-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
}
.content span.img-txt {
  background-color: #333;
  text-transform: uppercase;
  color: #ffffff;
  padding: 1.2rem;
  font-size: 1.5rem;
  letter-spacing: 10px;
  border: 1px solid white;
  border-radius: 50px;
}
.content-main span.img-main-txt {
  text-transform: uppercase;
  color: #ffffff;
  padding: 1rem;
  font-size: 13vw;
  letter-spacing: 10px;
  width: 100%;
}

@media screen and (max-width: 1340px) {
  .img-main-1 {
    width: 120vw;
    margin-top: -10px;
    margin-left: -150px;
  }
}

@media screen and (max-width: 1290px) {
  .img-main-1 {
    width: 120vw;
    transform: translate(-12%, -60%);
  }
}
@media screen and (max-width: 1200px) {
  .img-main-1 {
    width: 120vw;
    transform: translate(-12%, -65%);
  }
}

@media screen and (max-width: 1170px) {
  .img-main-1 {
    width: 120vw;
    transform: translate(-12%, -65%);
  }
}
@media screen and (max-width: 1110px) {
  /* .content-main-container {
    display: flex;
    align-items: center;
    height: 70vh;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
  } */
}
@media screen and (max-width: 1100px) {
  .img-main {
    height: 90vh;
  }
  .content-main {
    transform: translateY(-10%);
  }

  .img-main-1 {
    width: 120vw;
    transform: translate(-12%, -65%);
  }
}

@media screen and (max-width: 1040px) {
  .img-main {
    height: 80vh;
  }

  .content-main {
    transform: translateY(-20%);
  }

  .img-main-1 {
    width: 120vw;
    transform: translate(-11%, -65%);
  }
}
@media screen and (max-width: 1010px) {
  .img-main-1 {
    width: 120vw;
    transform: translate(-11%, -65%);
  }
}

@media screen and (max-width: 920px) {
  .img-main {
    height: 70vh;
  }

  .content-main {
    transform: translateY(-30%);
  }

  .img-main-1 {
    width: 120vw;
    transform: translate(-8%, -60%);
  }
}

@media screen and (max-width: 885px) {
  .img {
    height: 40vh;
  }
  .img-main-1 {
    width: 120vw;
    transform: translate(-8%, -60%);
  }
}
@media screen and (max-width: 850px) {
  .img-main-1 {
    width: 120vw;
    transform: translate(-8%, -60%);
  }
}
@media screen and (max-width: 810px) {
  .img-main {
    width: 800px;
  }

  .content-main {
    transform: translateY(-40%);
  }
  .img-main-1 {
    width: 120vw;
    transform: translate(-8%, -60%);
  }
}

@media screen and (max-width: 780px) {
  .img-main-1 {
    width: 120vw;
    transform: translate(-5%, -60%);
  }
}
@media screen and (max-width: 760px) {
  .img {
    height: 30vh;
  }
  .img-main-1 {
    width: 120vw;
    transform: translate(-5%, -60%);
  }
}
@media screen and (max-width: 730px) {
  .img-main-1 {
    width: 120vw;
    transform: translate(-3%, -60%);
  }
}
@media screen and (max-width: 700px) {
  .img-main-1 {
    width: 120vw;
    transform: translate(-3%, -60%);
  }
}

@media screen and (max-width: 660px) {
  .img-main-1 {
    width: 120vw;
    transform: translate(-3%, -60%);
  }
}
@media screen and (max-width: 640px) {
  .img-main-1 {
    width: 120vw;
    transform: translate(-1%, -60%);
  }
}

@media screen and (max-width: 590px) {
  .img-main-1 {
    width: 120vw;
    transform: translate(1%, -60%);
  }
}
@media screen and (max-width: 560px) {
  .img-main-1 {
    width: 120vw;
    transform: translate(3%, -60%);
  }
}
@media screen and (max-width: 530px) {
  .img-main-1 {
    width: 120vw;
    transform: translate(4%, -60%);
  }
}

@media screen and (max-width: 500px) {
  .img-container {
    height: 40vh;
  }
  .img-1 {
    height: 35vh;
  }
  .img-main-1 {
    width: 130vw;
    transform: translate(2%, -60%);
  }
}

@media screen and (max-width: 470px) {
  .img-main-1 {
    width: 130vw;
    transform: translate(2%, -60%);
  }
  .content-main span.img-main-txt {
    font-size: 11vw;
  }
}
@media screen and (max-width: 420px) {
  .img-main-1 {
    width: 130vw;
    transform: translate(5%, -60%);
  }
}

@media screen and (max-width: 390px) {
  .img-main-1 {
    width: 130vw;
    transform: translate(5%, -60%);
  }
}
@media screen and (max-width: 380px) {
  .img-1 {
    height: 25vh;
  }
}
@media screen and (max-width: 360px) {
  .img-main-1 {
    width: 130vw;
    transform: translate(5%, -60%);
  }
}
@media screen and (max-width: 320px) {
  .img-1 {
    height: 15vh;
  }
}
