.img-main-over {
  overflow: hidden;
}
.img-main {
  position: relative;
  height: 100vh;
}
.img {
  position: relative;
  height: 50vh;
}
.content-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 50vh;
  width: 100%;
  margin: auto;
}
.content span.img-txt {
  background-color: #333;
  text-transform: uppercase;
  color: #fff;
  padding: 1.2rem;
  font-size: 1.5rem;
  letter-spacing: 10px;
  border: 1px solid white;
  border-radius: 50px;
}
.content-main span.img-main-txt {
  text-transform: uppercase;
  color: #000;
  padding: 1rem;
  font-size: 15vw;
  letter-spacing: 10px;
  width: 100%;
}
@media screen and (max-width: 1100px) {
  .img-main {
    height: 90vh;
  }

  .content-main {
    height: 100vh;
  }
}
@media screen and (max-width: 1040px) {
  .img-main {
    height: 80vh;
  }

  .content-main {
    height: 90vh;
  }
}
@media screen and (max-width: 920px) {
  .img-main {
    height: 70vh;
  }

  .content-main {
    height: 80vh;
  }
}
@media screen and (max-width: 810px) {
  .img-main {
    width: 1000px;
  }

  .content-main {
    height: 80vh;
    margin: 0 50%;
    width: 100vw;
  }
}
@media screen and (max-width: 885px) {
  .img {
    height: 40vh;
  }
}
@media screen and (max-width: 760px) {
  .img {
    height: 30vh;
  }
}
@media screen and (max-width: 507px) {
  .img-container {
    height: 40vh;
  }
  .img-1 {
    height: 35vh;
  }
}
@media screen and (max-width: 380px) {
  .img-1 {
    height: 25vh;
  }
}
@media screen and (max-width: 320px) {
  .img-1 {
    height: 15vh;
  }
}
