.style0 {
  background-color: #1c2331;
}
.style1 {
  background-color: #7c4dff;
}
.style2 {
  width: 60px;
  background-color: #7c4dff;
  height: 2px;
}
.style3 {
  background-color: rgba(0, 0, 0, 0.2);
}
