.style0 {
  border-top: 1px solid #010d4a;
}
/* .style1 {
  border-top: 1px solid #04104b;
  border-bottom: 1px solid #04104c;
} */
.style2 {
  width: 60px;
  /* background-color: #0c0522; */
  height: 2px;
}
/* .style3 {
  background-color: rgba(8, 5, 39, 0.2);
} */
