.course {
  margin: 3rem 0 0;
  color: #ffffff;
}

.course .heading {
  text-align: center;
}

.course .heading h1 {
  font-size: 2rem;
}

.course .text {
  margin-top: 5rem;
  width: 100%;
}

.course p {
  position: relative;
  width: 100%;
  font-size: 20px;
  color: #ffffff;
}

.course img {
  height: 22rem;
}

.mv {
  margin: 0 150px;
  width: 700px;
}

.mission,
.vision {
  position: relative;
  color: #ffffff;
  padding-bottom: 10px;
  margin-left: 1rem;
}

.mission h1,
.vision h1 {
  padding-bottom: 10px;
  color: hsl(338, 81%, 60%);
}

.mission p,
.vision p {
  width: 80%;
  text-align: left;
  top: 80px;
  font-size: 18px;
}
.img-fluid {
  background-color: white;
  border-radius: 30px;
}
