img {
  width: 9rem;
}
.navbar {
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: #1b2430;
  padding: 10px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 100;
  width: 100%;
  top: 0;
}
.navbarlist {
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: center;
}
.navbarlist .row {
  position: relative;
  display: flex;
  height: 60px;
  width: 100%;
  list-style-type: none;
  padding: 0 20px;
  margin: 0;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.navbarlist #active::after,
.navbarlist .row:hover::after {
  position: absolute;
  content: "";
  background-color: #17cf97;
  width: 30%;
  height: 2px;
  bottom: 5px;
  left: 20px;
}
.navbarlist #active,
.navbarlist .row {
  cursor: pointer;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}
.row #title {
  flex: 70%;
}

#mobile {
  display: none;
}

#mobile i {
  color: #fff;
  margin: 21.3px 0;
}

@media screen and (max-width: 896px) {
  #mobile {
    display: block;
    cursor: pointer;
  }

  .navbarlist {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 90px;
    right: -300px;
    width: 150px;
    height: 100vh;
    background-color: #2a3239;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }
  .navbarlist .row {
    position: relative;
    height: 60px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100px;
    padding: 0 25px 0;
    margin: 0;
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  .navbarlist #active::after,
  .navbarlist .row:hover::after {
    content: "";
    background-color: #17cf97;
    width: 30%;
    height: 2px;
    bottom: 5px;
    left: 25px;
  }

  .navbarlist li {
    margin-bottom: 25px;
  }

  #mobile i {
    position: absolute;
    font-size: 24px;
    cursor: pointer;
    margin-top: -15px;
    margin-left: 30px;
  }
  .navbarlist.active1 {
    right: 0;
    top: 0;
  }
}
