* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: rgb(5, 7, 36);
  max-width: 100vw;
  overflow-x: hidden;
  color: white;
}
.app {
  font-family: sans-serif;
}
