/* ------------------------ */
/* ------- text --------- */
/* ------------------------ */

.text0 {
  display: flex;
  color: #777;
  background-color: white;
  text-align: center;
  text-align: justify;
  overflow-x: hidden;
  padding: 100px 50px 50px;
}
.text1 {
  text-align: center;
  /* transform: translateY(200%); */
}
.animate1 .img-2 {
  width: 50vw;
}
.animate1 .img-4 {
  width: 50vw;
  margin: -100px;
}
.animate1 .img-5 {
  width: 35vw;
  margin: 0px;
}
.animate1 .img-6 {
  width: 50vw;
  margin: -60px;
}
.animate1 .img-7 {
  width: 50vw;
  margin: 50px 0;
}
.text2 {
  font-size: 25px;
}
.text3 {
  display: flex;
  position: relative;
  background-color: #282e34;
  overflow: hidden;
}
.text-3 {
  transform: translateY(30%);
}
.text4 {
  color: #ddd;
  text-align: center;
  padding: 50px 80px 40px;
  text-align: justify;
  overflow: hidden;
}
.text-4 {
  transform: translateY(30%);
}
.text5 {
  font-size: 25px;
  color: #f7f7f7;
}

/* ------------------------ */
/* ------- services heading --------- */
/* ------------------------ */
.line {
  color: #011032;
  margin-bottom: 50px;
  margin-top: 60px;
  position: relative;
  text-align: center;
}
/* ------------------------ */
/* ------- services --------- */
/* ------------------------ */

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4,
.bgimg-5,
.bgimg-6,
.bgimg-7,
.bgimg-8,
.bgimg-9,
.bgimg-10,
.bgimg-11 {
  position: relative;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.caption span h2 {
  font-size: 25px;
  letter-spacing: 10px;
  padding: 18px;
  background-color: #11111184;
  border: 1px solid #fff;
  /* margin: auto; */
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
}

/* ------------------------ */
/* ------- logo --------- */
/* ------------------------ */
.logo-effect {
  margin-top: 150px;
  margin-left: 50px;
}
