/* ------------------------ */
/* ------- text --------- */
/* ------------------------ */

.text0 {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px 30px;
  text-align: justify;
}
.text0 {
  text-align: center;
}
.text2 {
  font-size: 25px;
}
.text3 {
  position: relative;
}
.text4 {
  color: #ddd;
  background-color: #282e34;
  text-align: center;
  padding: 50px 80px 40px;
  text-align: justify;
}
.text5 {
  font-size: 25px;
  color: #f7f7f7;
}

/* ------------------------ */
/* ------- services --------- */
/* ------------------------ */

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4,
.bgimg-5,
.bgimg-6,
.bgimg-7,
.bgimg-8,
.bgimg-9,
.bgimg-10,
.bgimg-11,
.bgimg-12 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("image/parelall-scroll/0.jpg");
  min-height: 100%;
  width: 100%;
}

.bgimg-2 {
  background-image: url("image/parelall-scroll/1.jpg");
  min-height: 400px;
  width: 100%;
}

.bgimg-3 {
  background-image: url("image/parelall-scroll/2.jpg");
  min-height: 400px;
  width: 100%;
}

.bgimg-4 {
  background-image: url("image/parelall-scroll/3.jpg");
  min-height: 400px;
  width: 100%;
}

.bgimg-5 {
  background-image: url("image/parelall-scroll/4.jpg");
  min-height: 400px;
  width: 100%;
}

.bgimg-6 {
  background-image: url("image/parelall-scroll/5.jpg");
  min-height: 400px;
  width: 100%;
}

.bgimg-7 {
  background-image: url("image/parelall-scroll/6.jpg");
  min-height: 400px;
  width: 100%;
}

.bgimg-8 {
  background-image: url("image/parelall-scroll/7.jpg");
  min-height: 400px;
  width: 100%;
}

.bgimg-9 {
  background-image: url("image/parelall-scroll/8.jpg");
  min-height: 400px;
  width: 100%;
}

.bgimg-10 {
  background-image: url("image/parelall-scroll/9.jpg");
  min-height: 400px;
  width: 100%;
}

.bgimg-11 {
  background-image: url("image/parelall-scroll/10.jpg");
  min-height: 400px;
  width: 100%;
}

.bgimg-12 {
  background-image: url("image/parelall-scroll/11.jpg");
  min-height: 400px;
  width: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.bord {
  color: #fff;
  outline: none;
}

.caption span h2 {
  font-size: 25px;
  letter-spacing: 10px;
  padding: 18px;
  background-color: #11111184;
  border: 1px solid #fff;
  margin: auto;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3,
  .bgimg-4,
  .bgimg-5,
  .bgimg-6,
  .bgimg-7,
  .bgimg-8,
  .bgimg-9,
  .bgimg-10,
  .bgimg-11,
  .bgimg-12 {
    background-attachment: scroll;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
}
